@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

:root {
    --color-dark-primary: #03071E;
    --color-dark-secondary: #370617;
    --color-primary: #6A040F;
    --color-primary-secondary: #9D0208;
    --color-primary-tertiary: #D00000;
    --color-primary-quaternary: #DC2F02;
    --color-secondary: #F48C06;
    --color-secondary-secondary: #FAA307;
    --color-secondary-tertiary: #FFBA08;
    --color-secondary-quaternary: #E85D04;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border: 2px var(--color-secondary) solid;
    background-color: var(--color-secondary);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px var(--color-primary) solid;
    border-color: transparent;
    background-color: var(--color-primary);
    background-clip: padding-box;
}
