.work {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    background-color: var(--color-secondary-tertiary);
}

.work-content {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    width: 90%;
    height: 100%;
}

.image-carousel {
    width: 100%;
    height: 250px;
    flex: none;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    position: absolute; /* Position it within the carousel */
    animation: slide 30s linear infinite; /* Keep your animation */
}

@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); } /* This might need to be adjusted based on total width */
}


.carousel-track {
    display: flex;
    animation: slide 30s linear infinite; /* Adjust time as needed */
}

@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust based on the total width of one set of images */
}

.com-logo {
    min-width: 125px;
    height: 125px;
    object-fit: cover;
    margin: 0 10px; 
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}
.com-logo:hover {
    filter: grayscale(0%);
}

.work-overlay {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    padding: 1rem;
    margin: 2rem 0;
}
.work-header {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-header h2 {
    color: var(--color-primary-quaternary);
    font-size: 3rem;
    font-weight: 1000;
    margin: 1rem 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    /* Allign vertically */
}
.work-text {
    width: 45%;
    height: 100%;
    padding: 1rem;
}
.work-text p {
    color: var(--color-primary-secondary);
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
}


@media screen and (max-width: 600px) {
    .work-overlay {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: stretch;
    }
    .work-header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .work-header h2 {
        font-size: 2rem;
    }
    .image-carousel {
        height: 200px;
    }
    .work-content {
        height: fit-content;
    }
    .work-text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0rem;
    }
}